
<div class="currentArticle">
    <div class="currentArticleAuthor">
        {{currentArticle.author}}
    </div>
    <div class="currentArticleBody">
        {{currentArticle.content}}
    </div>
</div>