{{!-- Шаблон для страницы "Главная" --}}
<div class="about">
    Этот сайт был создан <span>при поддержке</span> для тех, кто хочет что-то понять в музыке, тем, кто ничего в ней не понимает.
</div>

<p class="ad">Здесь могла быть ваша реклама! (Или нет) xD</p>