{{!-- Шаблон для страницы "Кварто-квинтовый круг" --}}
<h2 class="second_desc">Кварто-квинтовый круг: что это такое и как им пользоваться?</h2>

<p> <img class="circle" src="./circle.png" alt=""> Музыканты, которым не довелось получить музыкального образования невольно вздрагивают, когда речь заходит о теории музыки. Теория навевает скуку и кварто-квинтовый круг мажорных и минорных тональностей не исключение. Страх увязнуть в теоретических дебрях лишает музыкантов инструмента, который сильно облегчает жизнь. Даже человек без музыкального слуха с его помощью сможет сочинить аккомпанемент в считанные минуты. </p>  
    
<p> В этой статье нет сильного углубления в теорию музыки. По прочтении вы узнаете, что такое кварто-квинтовый круг тональностей, зачем он нужен, как им пользоваться и применять на практике.</P>

<p>Квинтовый круг тональностей — это графическая схема изображения мажорных и минорных тональностей, которые группируются по степени родства и количества общих нот. Интервал между соседними тональностями в квинтовом круге составляет чистую квинту.</p>

<p>На внешней стороне кварто-квинтового круга изображены мажорные тональности, на внутренней — их параллельные миноры.</p>
<p>Помимо визуализации отношений между мажорными и минорными тональностями, квинтовый круг позволит моментально определить количество знаков при ключе в каждой из тональностей и поможет решать на практике более тривиальные задачи, с которыми рано или поздно сталкиваются как начинающие, так и опытные музыканты, композиторы и аранжировщики.</p>
        
