<form action="/writearticle" method="POST" id="writingArticle">
    <input type="text" placeholder="Название статьи" id="articleLabel" name="articleLabel">
    <textarea id="articleBody" name="articleBody" placeholder="Статья"></textarea>
    <button type="submit" >Опубликовать</button>
</form>