{{!-- layout(общий шаблон для страниц), после того, как вошли в аккаунт--}}
{{> head}}

<body>
{{> navbarLogged}}

    <section class="main">
        <h2 class="second_desc">{{title}}</h2>
        {{{body}}}

        

    </section>


    <script src="./script.js"></script>
    
 

</body>
</html>